@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

#header{ /* styling the navbar */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999; /*keeping header sticky*/
    position: sticky; /*keeping header sticky*/
    top: 0%; /*keeping header sticky*/
    left: 0; /*keeping header sticky*/
}
#navbar{  /* placing all the text in one line horizontally instead of vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{ /* removing dots in unordered list*/
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{ /* removing lines under text in navbar and changing text colors */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3; /* transition between hover will done smoothly */
}
#navbar li a:hover,/*hovering and changing text color during hover */
#navbar li a.active{ /* keeping hover active */
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{ /* putting a line under the hovered button in navbar*/
    content: "";
    width: 30%;
    height: 2px;
    background:#088178 ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Hero section Styling */
#hero{
    background-image: url("./Assets/hero4.png");
    height: 90vh; /*to give hero section (or any section the full screen */
    width: 100%;
    background-size: cover; /*for aligning image in centre*/
    background-position: top 25% right 0;/*for aligning image in centre*/
    padding: 0 100px; /*for aligning the hero text in some side middle */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("/Assets/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/*** Feature Section Styling **/
.section-p1{
    padding: 40px 80px;
}

#feature .fe-box{ /*adding border into feature box and aligning its under text in center */
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0,0.03);/* adjusting shadow of border */
    border: 1px solid #cce7d0; /*choosing color of border*/
    border-radius: 4px; /* adjusting border of the box */ 
    margin: 15px 0;/* making border of box curve from edge */
}
#feature .fe-box:hover{ /*adding hover effect in feature box */
    box-shadow: 20px 20px 54px rgba(70, 62, 221, 0.1);/* adjusting shadow of border */
}
#feature .fe-box h6{ /*adding background color and adjusting text in the feature box */
    display: inline;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box img{ /*making feature box responsive */
    width: 100%;
    margin-bottom: 10px;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2ef;
}
/** Feature Product Section **/

#product{
    text-align: center;
}
#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; /* do not want to align all the products in one line and with no space so used the flex-wrap:wrap */
}
#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer; /*changing cursor to hand when hover on image box */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span{
    color: #606063;
    font-size: 11px;
}

#product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product .pro .des i{
    font-size: 12px;
    color: rgb(243, 181,25);
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute; /* if we use position:absolute in child element then first we have to add position:relative to the parent element*/ 
    bottom: 20px;
    right: 10px;
}

/** Call Banner Styling **/
.section-m1{ /* adding default margin */
    margin: 40px 0;
}
button.normal{/* custom button only those buttons will have this affect which has class normal in button tag*/
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#banner{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url("/Assets/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 16px;
}
#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover{ /* hover affect in button */
    background-color: #088178;
    color: white;
}