body{
     background-image: url("/bavkground\ blend.jpg");
     /* background-size: cover; */
     height: 100vh;
     /* display: flex; */
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;

}
.navbar{
    width: 100%;
    /* height: 200px; */
    height: 20px;
    padding: 22px 0px;
    border-bottom: none;
    background-color: rgba(225,225, 225, 0.1);
}
.navbar .navbar-img{
    height: 100px;
    width: 100px;
    float: left;
    padding-left: 4%;
    margin-top: -20px;
    cursor: pointer;
}

.navbar .nav-item{
    width: 500px;
    height: 10px;
    margin-left: 860px;
    /* margin-top: -40px; */
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    margin-top: -20px;

}
.navbar ul li {
    list-style-type: none;
    float: left;
   padding-left: 18px;
}
a{
    color:white;
    text-decoration: none;
    font-family: calibri;
    font-size: 22px;

}
a:hover{
    color: crimson;
}

.gallery{
    text-align: center;
    color: white;
    font-size: large;
    font-stretch:extra-expanded;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.9);
}


.gallery .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding: 0 30px;

}
.gallery .card{
    width: 25px;
    min-width: 250px;
    padding: 10px 6px;
    /* border: 1px solid; */
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(225,225, 225, 0.1);
    box-shadow: 20px 20px 30px rgba(0,0,0,0.9);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;    
    justify-content: center;
    transition: 1s all ease;

}

.gallery .card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.gallery .card:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    transform: scale(1.05);
    transition: 1s all ease;
}

.gallery .card .desc{
    text-align: center;
    margin: -20px -10px;
    font-size: small;
}
.gallery .card .desc h5{
    font-size: medium;
    margin-bottom: -05px;
}